/reference/
.snakemake/
/main
/config
!config/config_template.yaml

.cache/
.config/
__pycache__/
*.pyc
.DS_Store
.vscode/
nohup.out
*.qza
*.qzv
*.tar
*.tar.gz
*.biom
*.tsv
*.nwk
*.jsonl
*.html
*.xlsx
*.fastq
*.gz
*.fq.gz
*.fasta
*.zip
*:Zone.Identifier
*.ntree
*.fna
*.tree
*.xml
*.txt
*.log
*.rds
*.out
*.sif